<table width="100%" style="border-bottom: 1px solid #000000; vertical-align: bottom; font-family: serif; font-size: 9pt; color: #000088;"><tr>
    <td width="50%" align="left">{PAGENO}</td>
    <td width="50%" style="text-align: right;"><span style="font-weight: bold;">{copyright} : {url}</span></td>
  </tr>
</table>