<table width="100%" style="border-bottom: 1px solid #000000; vertical-align: bottom; font-family: serif; font-size: 9pt; color: #000088;"><tr>
    <td width="50%" align="left"><img height="40" src="{logo}"  /></td>
    <td width="50%" style="text-align: right;"><span style="font-weight: bold;">{title}</span></td>
  </tr>
</table>
<span style="padding-top: 5px; font-size: 8px; font-weight: 300;">{time}</span>